In [1]:
!mkdir temp_data

In [6]:
!curl "https://s3.amazonaws.com/media.johnkeefe.net/nypd-data/NYC_Blocks_2010CensusData_plus_NYPD_precincts.csv" -o data.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 14.1M  100 14.1M    0     0  16.1M      0 --:--:-- --:--:-- --:--:-- 16.1M

In [7]:
!mv data.csv ./temp_data

In [8]:
import pandas as pd

/Users/johnkeefe/Code/jkeefe-github/nypd-data/.venv/lib/python3.7/site-packages/pandas/compat/__init__.py:117: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [17]:
df = pd.read_csv("./temp_data/data.csv")

In [18]:
df.head()

,geoid10,precinct,SUMLEV,STATE,COUNTY,TRACT,BLOCK,INTPTLAT,INTPTLON,P0010001,...,geometry,geometry_vertex_count,SHAPE_Leng,SHAPE_Area,import_notes,Precinct,SHAPE_Leng.1,SHAPE_Area.1,import_notes.1,precinct.1
0,360050001000001,NaN,750,36,5,100,1,40.793109,-73.869659,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,360050001000002,NaN,750,36,5,100,2,40.798113,-73.892358,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,360050001001000,114.0,750,36,5,100,1000,40.794386,-73.880803,8634,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,114.0
3,360050001001001,114.0,750,36,5,100,1001,40.797144,-73.887119,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,114.0
4,360050001001002,114.0,750,36,5,100,1002,40.792209,-73.882048,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,114.0

In [37]:
df['INTPTLON'].value_counts()

-73.972650    3
-73.911552    2
-73.909879    2
-73.933366    2
-73.871987    2
             ..
-73.937596    1
-73.838550    1
-74.218383    1
-73.828504    1
-74.251593    1
Name: INTPTLON, Length: 38948, dtype: int64

In [33]:
df['Precinct'].value_counts()

Series([], Name: Precinct, dtype: int64)

In [38]:
df.columns

Index(['geoid10', 'precinct', 'SUMLEV', 'STATE', 'COUNTY', 'TRACT', 'BLOCK',
       'INTPTLAT', 'INTPTLON', 'P0010001',
       ...
       'geometry', 'geometry_vertex_count', 'SHAPE_Leng', 'SHAPE_Area',
       'import_notes', 'Precinct', 'SHAPE_Leng.1', 'SHAPE_Area.1',
       'import_notes.1', 'precinct.1'],
      dtype='object', length=163)

In [39]:
list(df.columns)

['geoid10',
 'precinct',
 'SUMLEV',
 'STATE',
 'COUNTY',
 'TRACT',
 'BLOCK',
 'INTPTLAT',
 'INTPTLON',
 'P0010001',
 'P0010002',
 'P0010003',
 'P0010004',
 'P0010005',
 'P0010006',
 'P0010007',
 'P0010008',
 'P0010009',
 'P0010010',
 'P0010011',
 'P0010012',
 'P0010013',
 'P0010014',
 'P0010015',
 'P0010016',
 'P0010017',
 'P0010018',
 'P0010019',
 'P0010020',
 'P0010021',
 'P0010022',
 'P0010023',
 'P0010024',
 'P0010025',
 'P0010026',
 'P0010027',
 'P0010028',
 'P0010029',
 'P0010030',
 'P0010031',
 'P0010032',
 'P0010033',
 'P0010034',
 'P0010035',
 'P0010036',
 'P0010037',
 'P0010038',
 'P0010039',
 'P0010040',
 'P0010041',
 'P0010042',
 'P0010043',
 'P0010044',
 'P0010045',
 'P0010046',
 'P0010047',
 'P0010048',
 'P0010049',
 'P0010050',
 'P0010051',
 'P0010052',
 'P0010053',
 'P0010054',
 'P0010055',
 'P0010056',
 'P0010057',
 'P0010058',
 'P0010059',
 'P0010060',
 'P0010061',
 'P0010062',
 'P0010063',
 'P0010064',
 'P0010065',
 'P0010066',
 'P0010067',
 'P0010068',
 'P0010069',
 'P0010070',
 'P0010071',
 'P0020001',
 'P0020002',
 'P0020003',
 'P0020004',
 'P0020005',
 'P0020006',
 'P0020007',
 'P0020008',
 'P0020009',
 'P0020010',
 'P0020011',
 'P0020012',
 'P0020013',
 'P0020014',
 'P0020015',
 'P0020016',
 'P0020017',
 'P0020018',
 'P0020019',
 'P0020020',
 'P0020021',
 'P0020022',
 'P0020023',
 'P0020024',
 'P0020025',
 'P0020026',
 'P0020027',
 'P0020028',
 'P0020029',
 'P0020030',
 'P0020031',
 'P0020032',
 'P0020033',
 'P0020034',
 'P0020035',
 'P0020036',
 'P0020037',
 'P0020038',
 'P0020039',
 'P0020040',
 'P0020041',
 'P0020042',
 'P0020043',
 'P0020044',
 'P0020045',
 'P0020046',
 'P0020047',
 'P0020048',
 'P0020049',
 'P0020050',
 'P0020051',
 'P0020052',
 'P0020053',
 'P0020054',
 'P0020055',
 'P0020056',
 'P0020057',
 'P0020058',
 'P0020059',
 'P0020060',
 'P0020061',
 'P0020062',
 'P0020063',
 'P0020064',
 'P0020065',
 'P0020066',
 'P0020067',
 'P0020068',
 'P0020069',
 'P0020070',
 'P0020071',
 'P0020072',
 'P0020073',
 'geometry',
 'geometry_vertex_count',
 'SHAPE_Leng',
 'SHAPE_Area',
 'import_notes',
 'Precinct',
 'SHAPE_Leng.1',
 'SHAPE_Area.1',
 'import_notes.1',
 'precinct.1']

In [42]:
df.drop(columns=['geometry',
 'geometry_vertex_count',
 'SHAPE_Leng',
 'SHAPE_Area',
 'import_notes',
 'Precinct',
 'SHAPE_Leng.1',
 'SHAPE_Area.1',
 'import_notes.1',
 'precinct.1'], inplace=True)

In [43]:
df

,geoid10,precinct,SUMLEV,STATE,COUNTY,TRACT,BLOCK,INTPTLAT,INTPTLON,P0010001,...,P0020064,P0020065,P0020066,P0020067,P0020068,P0020069,P0020070,P0020071,P0020072,P0020073
0,360050001000001,NaN,750,36,5,100,1,40.793109,-73.869659,0,...,0,0,0,0,0,0,0,0,0,0
1,360050001000002,NaN,750,36,5,100,2,40.798113,-73.892358,0,...,0,0,0,0,0,0,0,0,0,0
2,360050001001000,114.0,750,36,5,100,1000,40.794386,-73.880803,8634,...,0,0,0,0,0,0,0,0,0,0
3,360050001001001,114.0,750,36,5,100,1001,40.797144,-73.887119,0,...,0,0,0,0,0,0,0,0,0,0
4,360050001001002,114.0,750,36,5,100,1002,40.792209,-73.882048,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39143,360859901000009,NaN,750,36,85,990100,9,40.495132,-74.184591,0,...,0,0,0,0,0,0,0,0,0,0
39144,360859901000010,NaN,750,36,85,990100,10,40.489006,-74.210906,0,...,0,0,0,0,0,0,0,0,0,0
39145,360859901000011,NaN,750,36,85,990100,11,40.486407,-74.227048,0,...,0,0,0,0,0,0,0,0,0,0
39146,360859901000012,NaN,750,36,85,990100,12,40.488618,-74.243632,0,...,0,0,0,0,0,0,0,0,0,0
39147,360859901000013,NaN,750,36,85,990100,13,40.496200,-74.257313,0,...,0,0,0,0,0,0,0,0,0,0

In [44]:
df['precinct'] = df['precinct'].astype('int64')

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [46]:
df2 = pd.DataFrame()

In [47]:
df2['geoid10'] = df['geoid10']

In [53]:
df2['precinct'] = df['precinct'].astype('Int64')

In [54]:
df2

               geoid10  precinct
0      360050001000001      <NA>
1      360050001000002      <NA>
2      360050001001000       114
3      360050001001001       114
4      360050001001002       114
...                ...       ...
39143  360859901000009      <NA>
39144  360859901000010      <NA>
39145  360859901000011      <NA>
39146  360859901000012      <NA>
39147  360859901000013      <NA>

[39148 rows x 2 columns]

In [56]:
df2.to_csv("./temp_data/rosetta.csv", index=False)

In [58]:
df.to_csv("./temp_data/nyc_census2020blocks_with_police_precincts.csv", index = False)